.home {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.home__header {
  display: flex;
  justify-content: space-between;
  align-items: 'center';
  margin-bottom: 20px;
  flex-direction: row-reverse;
}

.home__stats {
  display: flex;
  justify-content: space-between;
}

.home__left {
  flex: 0.9;
}

.table {
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
  color: rgb(186, 151, 151)
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
}

.table tr:nth-of-type(odd) {
  background-color: rgb(88, 76, 59);
}

@media (max-width: 990px) {
  .home {
    flex-direction: column
  }
}